<footer class="footer bg-light">
  <p>© 2021 Crestron Electronics, Inc.</p>
  <p>
    All brand names, product names and trademarks are the property of their
    respective owners. Certain trademarks, registered trademarks, and trade
    names may be used to refer to either the entities claiming the marks and
    names or their products. Crestron disclaims any proprietary interest in the
    marks and names of others. Crestron is not responsible for errors in
    typography or photography. Specifications are subject to change without
    notice.
  </p>
  <p class="small">
    Patents | Legal | Crestron Europe Terms | Privacy Policy | Terms of Use
  </p>
</footer>
